<!DOCTYPE html>
<html>
  <head>
    <title>Image Search</title>
    <meta name="description" content="Image Search, FreeCodeCamp API Development Projects">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/2f1f0271-1aad-424c-a12c-ded09fb23cb2%2Ffavicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        Image Searcher
      </h1>
    </header>
    <main>
      <p>View source code at <a href="https://github.com/xxyzz/image-search" target="_blank">here</a>.</p>
      <h2>Example Usage:</h2>
      <a href="https://auspicious-raver.glitch.me/api/imgSearch/cat?offset=2">https://auspicious-raver.glitch.me/api/imgSearch/cat?offset=2</a>
      <br>
      <a href="https://auspicious-raver.glitch.me/api/latest/imgsearch">https://auspicious-raver.glitch.me/api/latest/imgsearch</a>
    </main>
  </body>
</html>
